{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE DRAGONCHOSEN</title>
    <!-- BOOTSTRAP  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FAVICON for dragon icon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img\dragonchosenLogo.png' %}">
    <!-- STYLE CSS  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/abishaistyle.css' %}">
</head>
<body>
    <div class="container bg-light p-5" id="wrapper">
        
        <div class="p-2 mb-3 bg-purple d-flex justify-content-between align-items-center border border-left-0 border-top-0 border-right-0 border-primary rounded shadow">
            <img src="{% static 'img\dragonchosenLogo2.png' %}" alt="Cult of the Dragon Logo" class="rounded-circle mr-1" id="logo">
            <a href="{% url 'home' %}" class="btn btn-outline-primary btn-purple mr-1" id="home">Home</a>
            <a href="#" class="btn btn-outline-primary btn-purple mr-1">Campaign</a>
            <!-- LOGIN BUTTON  -->
            {% if 'userId' not in request.session %}
            <a href="{% url 'login' %}" class="btn btn-primary mr-auto shadow">Login</a>
            <h3 class="text-primary pr-2">Welcome to the Dragonchosen Campaign!</h3>
            {% else %}
            <a href="#" class="btn btn-outline-primary btn-purple mr-1 shadow">Heroes</a>
            <a href="{% url 'editUser' %}" class="btn btn-outline-primary btn-purple mr-1 shadow">My Info</a>
            <a href="{% url 'logout' %}" class="btn btn-outline-primary mr-auto shadow">Logout</a>
            <h3 class="text-primary pr-2">Welcome Dragonchosen {{user.firstName}}!</h3>
            {% endif %}
        </div>

        <div class="d-flex flex-column justify-content-center">    
            <p class="h1 bg-danger text-center mr-auto ml-auto"><span class="text-danger">'</span> DARK ABISHAI <span class="text-danger">'</span></p>
            <img src="{% static 'img\darkabishai.png' %}" alt="Evil Dark Abishai" id="abishai">
            <p class="back-dark">ABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISH</p>
            <p class="back-dark">ABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISH</p>
            <p class="back-dark">ABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISH</p>
            <p class="back-dark">ABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISH</p>
            <p class="back-dark">ABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISH</p>
            <p class="back-dark">ABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISH</p>
            <p class="back-dark">ABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISH</p>
            <p class="back-dark">ABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISH</p>
            <p class="back-dark mb-5">ABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISHAIABISH</p>
        </div>

    {% if user.dm == True %}

    <p class="h4 text-success text-center shadow-green">2 x Black Abishai (cr 7, mtf 160); easy, 5800 xp; treasure 1900 cp, 60 ep + 190 sp, 70 gp</p>
    <p class="font-weight-bold text-danger">Medium FIEND (devil)</p>
    <p class="font-weight-bold text-danger">Abishai 1 - Rolloth</p>
    <table class="table table-info">
        <thead>
            <th class="text-center">AC</th>
            <th class="text-center">HP</th>
            <th class="text-center">SPD</th>
            <th class="text-center">FLY</th>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">15</td>
                <td class="text-center">58</td>
                <td class="text-center">30</td>
                <td class="text-center">40</td>
            </tr>
        </tbody>
    </table>

    <p class="font-weight-bold text-danger">Abishai 2 - Gerrak</p>
    <table class="table table-info">
        <thead>
            <th class="text-center">AC</th>
            <th class="text-center">HP</th>
            <th class="text-center">SPD</th>
            <th class="text-center">FLY</th>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">15</td>
                <td class="text-center">58</td>
                <td class="text-center">30</td>
                <td class="text-center">40</td>
            </tr>
        </tbody>
    </table>
    
    <p class="bg-light text-primary font-weight-bold">Damage Resist (1/2 DMG) -- Cold, bludgeon, piercing, slashing.</p>
    <p class="bg-light text-primary font-weight-bold">Damage Immune (0 DMG) -- Acid, Fire, Poison</p>
    <p class="font-weight-bold"><span class="text-primary">Devil's Sight.</span> Magical darkness doesn't impede the abishai's darkvision (<span class="text-danger">CREEPING DARKNESS</span> BENEFIT).</p>
    <p class="font-weight-bold"><span class="text-primary">Magic Resistance.</span> The abishai has advantage on saving throws against spells and other magical effects.</p>
    <p class="font-weight-bold"><span class="text-primary">Magic Weapons.</span> The abishai's weapon attacks are magical.</p>
    <p class="font-weight-bold mb-5"><span class="text-primary">Shadow Stealth.</span> While in dim light or darkness, the abishai can take the Hide action as a bonus action. (Disappears into Shadows)</p>
    
    
    <p class="font-weight-bold mt-5"><span class="text-danger">Multiattack.</span> The abishai makes three attacks: two with its scimitar and one with its bite.</p>
    <p class="font-weight-bold"><span class="text-danger">Scimitar.</span> Melee Weapon Attack: <span class="text-danger">+6 to hit</span>, reach 5 ft., one target. Hit: <span class="text-danger">6 (1d6 + 3)</span> slashing damage.</p>
    <p class="font-weight-bold"><span class="text-danger">Bite.</span> Melee Weapon Attack: <span class="text-danger">+6 to hit, reach 5 ft., one target. Hit: <span class="text-danger">8 (1d10 + 3)</span> piercing damage plus <span class="text-purple">9 (2d8) acid damage.</span></p>
    <p class="font-weight-bold mb-5"><span class="text-danger">Creeping Darkness (Recharge 6).</span> The abishai casts darkness at a point within 120 feet of it, requiring no components. <span class="text-success shadow-green">Wisdom</span> is its spellcasting ability for this spell. While the spell persists, <span class="text-success shadow-green">the abishai can move the area of darkness up to 60 feet as a bonus action.</span></p>
    
    <p class="h5 font-weight-bold text-center shadow-red">ABOUT ABISHAI --- WHEN ASKING OR RESEARCHING ABOUT THEM</p>
    <p class="h6 font-weight-bold text-center shadow-purple">The books IN ROLE PLAY will be named below the info. They are instances of the books, not the IRL books.</p>
    
    <ul class="list-group">
        <li class="font-weight-bold list-group-item list-group-item-primary"><span class="text-purple">About BLACK Abishai.</span> Expert assassins and infiltrators, Black Abishais can weave shadows to mask their presence, allowing them to reach a location from where they can deliver a fatal strike to their targets. The Cult of Dragon seems to have gotten command of such monstrosities.</li>
        <li class="font-weight-bold list-group-item list-group-item-dark ml-4">Heard in rumors at a Tavern</li>
        <li class="font-weight-bold list-group-item list-group-item-primary"><span class="text-purple">About Abishai (In general).</span> Each abishai was once a mortal who somehow won Tiamat's favor before death and, as a reward, found its soul transformed into a hideous devil to serve at her pleasure in the Nine Hells.</li>
        <li class="font-weight-bold list-group-item list-group-item-dark ml-4">Found in a copy of Mordenkainen’s Time of Foes</li>
        <li class="font-weight-bold list-group-item list-group-item-primary"><span class="text-purple">Emissaries of Doom.</span> Tiamat deploys Abishais as emissaries, sending them to represent her interests in the Hells and across the multiverse. Some have simple tasks, such as delivering a message to cultists or taking charge of worshipers to carry out a sensitive mission. Others have greater responsibilities, such as leading large groups, assassinating targets, and serving in armies. In all cases, Abishais are fanatically loyal to Tiamat, ready to lay down their lives if needed.</li>
        <li class="font-weight-bold list-group-item list-group-item-dark ml-4">Found in a copy of Volo’s Guide to Monsters</li>
        <li class="font-weight-bold list-group-item list-group-item-primary"><span class="text-purple">Outsiders in Hell.</span> Abishais stand outside the normal hierarchy of the Nine Hells, having their own chain of command and ultimately answering to Tiamat (and Asmodeus, when the dark lord chooses to use them). Other archdevils can command Abishais to work for them, but most archdevils do so rarely, since it is never clear whether an abishai follows Tiamat's orders or Asmodeus'.</li>
        <li class="font-weight-bold list-group-item list-group-item-dark ml-4">Found in a copy of Tasha’s Cauldron of Everything</li>
        <li class="font-weight-bold list-group-item list-group-item-primary"><span class="text-purple">Hell Politiks.</span> There is inherent risk in countermanding an order given by Tiamat, but interfering with Asmodeus's plans invites certain destruction. “Tiamat is a force of Chaos bound to a place of Law. Are the Abishai her servants or her jailers?”</li>
        <li class="font-weight-bold list-group-item list-group-item-dark ml-4">-Nherr, Wizard and Scholar in My Trip to Avernus</li>
    </ul>

    {% else %}
        
    {% endif %}
        
    <script>

    </script>
</body>
</html>